*{
    padding: 0;
    margin: 0;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
body>header{
     background-color: rgb(160, 1, 14);
    color: rgb(245, 172, 172);
    display: flex; 
    align-items: center;
    justify-content: start; 
    padding: 25px; 
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1100;
    gap: 20px; /*ESPAÇAMENTO IMAGEM E TEXTO*/
}
nav{
    background-color: rgb(253, 88, 88);
    color: rgb(151, 47, 47);
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
    display: block;
    clear: both;
    margin-top: 120px;
    z-index: 1000px;
}
nav ul{ 
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    color: rgb(236, 133, 133);
    margin: 10px 60px;
}
nav ul li a{
    color: rgb(87, 19, 19);
    text-decoration: none;
}
nav a:hover{
    color: rgb(194, 0, 129);
    text-decoration: underline;
}
main{
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
}
main ol{
    width: fit-content;
    margin: auto;
}
section{
    display: flex;
    gap: 200px;
    align-items: flex-start;
}
footer{
    background-color: rgb(160, 1, 14);
    color: rgb(248, 178, 178);
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20px;
}